/* Site Todo */
body {
  font-family: Helvetica;
}
/* Partes comum entre Cabeçalho e Rodapé */
.caixa-headerfooter {
  background: #707070;
  color: #ffffff;
  text-align: center;
}
/* Cabeçalho títulos/sub-título*/
.titulo-principal {
  font-size: 20px;
  padding-top: 70px;
}
.titulo-principal-destaque {
  font-size: 40px;
  font-weight: bold;
  padding: 4px 0;
}
header p {
  font-size: 14px;
  padding-top: 20px;
}
/* Cabeçalho menu */
nav ul {
  padding: 50px 0;
}
nav li {
  display: inline;
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: #888888;
  padding: 12px 42px;
  border-radius: 4px;
  background: #ffffff;
  width: 210px;
  box-shadow: 0px 1px 6px #00000029;
}
/* Comum Seleção itens e Newsletter */
main {
  color: #888888;
}
section {
  margin: 40px auto;
  position: relative;
  width: 930px;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.botao {
  border: 1px solid #707070;
  border-radius: 4px;
  background: #ffffff;
  color: #888888;
  width: 260px;
  font-size: 16px;
  margin: 50px 335px 0 335px;
  display: block;
}
/* Seleção itens */
.selecao-produtos {
  text-align: left;
  color: #888888;
}
.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}
.card-image {
  width: 100%;
  height: 170px;
  border: 1px solid #707070;
}
.card-image img {
  height: 100%;
  width: auto;
}
h3 {
  padding: 10px 0;
  font-size: 14px;
}
.selecao-produtos p {
  padding-bottom: 5px;
}

.card-description,
.card-oldPrice,
.card-installments {
  font-size: 12px;
}
.card-price {
  font-weight: bold;
  font-size: 16px;
}
.card-button {
  margin-top: 7px;
  background-color: #fff;
  font-size: 16px;
  color: #888;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #707070;
  cursor: pointer;
}
.selecao-produtos a {
  text-decoration: none;
  cursor: pointer;
}
.mais-itens {
  padding-top: 10px;
  height: 30px;
  text-align: center;
}
/* Formulário Newsletter */
.newsletter p {
  text-align: center;
}
form {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  margin: 0 0;
}
.form-newsletter {
  display: inline-block;
  width: 340px;
  margin: 0 40px;
}
form label {
  display: block;
  text-align: left;
}
form input {
  width: 100%;
  border: 1px solid #707070;
}

.enviar {
  cursor: pointer;
  padding: 12px 36px;
  width: 260px;
}
/* Ródape */
footer {
  height: 190px;
}
footer p {
  padding: 70px 0;
}
/* Responsividade */
@media screen and (max-width: 768px) {
  /* Margem versão mobile */
  h1,
  p:not(.card p) {
    margin: 0 10px;
  }
  /* Responsividade botões */
  nav a {
    display: inline-block;
    margin: 10px;
    padding: 12px 0;
    width: 210px;
  }
  .botao {
    margin: auto;
  }
  .card {
    margin: 0 10px 50px 10px;
  }
  .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  /* Largura auto */
  section,
  .form-newsletter {
    width: auto;
  }
  .form-newsletter {
    margin: 20px;
    display: block;
  }
  form input {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .products-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}
